.app-car-contract-container {
  padding: 8px 12px;
  border-bottom: 1px solid #e5e7eb;
  background: #fff;

  h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
// :host{ display:block; }
