.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #1e1e2d;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 1000;
  transition: transform 0.35s ease-in-out;
  transform: translateX(0);
  // will-change: transform;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar-brand img {
  transition: all 0.3s ease;
}

.nav-link {
  color: #bfc3c9;
  border-radius: 8px;
  margin: 4px 8px;
  position: relative;
  transition: color 0.3s ease;
  will-change: background-color, color, transform;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.nav-link::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #fff;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  z-index: 0;
}

.nav-link:hover {
  color: #fff;
  background-color: #2b2f47;
}

.nav-link.active::before {
  transform: scaleX(1);
}

.nav-link.active {
  color: #000;
  font-weight: 600;
}

.nav-link i,
.nav-link span {
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}

.nav-link.active i {
  color: #334155;
}

