.card {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.header h4 {
  margin: 0;
  font-weight: 600;
}
.chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 550px;
  margin: 0 auto;
}

canvas {
  max-width: 100%;
  max-height: 100%;
}
